.jumbotron h1 {
  color: blue;
}
nav > span {
  color: red;
}
.jumbotron a {
  color: violet;
}
.blog-post:first-of-type {
  background-color: yellow;
}

hr {
  border: 1px solid red;
}

nav span:nth-child(even) {
  color: violet;
}
.p-4:nth-child(2) li a {
  color: black;
}
.blog-post:nth-child(3) .blog-post-meta a {
  background-color: black;
}
.blog-post:nth-child(4) ul li:nth-child(2) {
  background-color: aqua;
}
footer + a {
  color: red;
}
.blog-pagination a:nth-child(2) {
  color: red;
}
.blog-footer a:nth-child(2) {
  color: red;
}
